mat-card{
    margin:10px;
    .intent-container{
        border-bottom: 1px solid lightgray;
        padding:10px;
    }
}
.header{
    margin: 10px;
}

.build-button{
    margin-left: 0.55em;
    margin-top: 1.5em;
}